/*.exe
/cmd/cdnctl/cdnctl.exe
/client.exe
/internal/tgs-automations/createCertificate/createCertificate.exe
/cmd/cdnctl/cdn.log
/cmd/expired_domain/cdn.log
/cmd/expired_domain/expired_domain.exe
cmd/momo-data/momo-data.exe
/cmd/momo-data/cdn.log
**/*.exe
/cmd/daily-momo-data/momo-data.exe
/cmd/daily-momo-data/momo-data.exe
